# Workspace / metadata files
*.json
data/*
wrangler.toml
*.sh
*.txt
*.log
starttime
force
*.code-workspace
pid
timeupdate
wrangler.toml
database.tar.gz

# Config files
!package.json
!package-lock.json
!.prettierrc.json
!.eslintrc.json
!babel.config.json
!config.def.json

# Npm
node_modules