[submodule "src/request"]
	path = packages/request
	url = git@github.com:eatmyvenom/hyarcade-requests.git
[submodule "src/Config"]
	path = src/Config
	url = git@github.com:eatmyvenom/hyarcade-config.git
[submodule "src/utils/Logger"]
	path = src/utils/Logger
	url = git@github.com:eatmyvenom/hyarcade-logger.git
[submodule "src/Worker"]
	path = packages/Worker
	url = git@github.com:eatmyvenom/Hyarcade-Worker.git
