# Workspace / metadata files
*.json
data/*
*.sh
*.txt
*.log
*.code-workspace
starttime
force
pid
timeupdate
wrangler.toml
wrangler.toml

# Config files
!package.json
!package-lock.json
!.prettierrc.json
!.eslintrc.json
!babel.config.json
!config.def.json

# Npm
node_modules