*.json
!package.json
!package-lock.json
!.prettierrc.json
!.eslintrc.json
!babel.config.json
!clean.sh
!config.def.json
*.sh
*.txt
node_modules
key
force
pid
data/*
timeupdate
*.log
starttime
*.code-workspace
wrangler.toml