{
  "openapi": "3.0.3",
  "info": {
    "title": "Hyarcade API",
    "description": "# Introduction\n      This is backend api for all Hyarcade systems\n      [Hyarcade](https://hyarcade.xyz/) - [GitHub Repo](https://github.com/eatmyvenom/hyarcade)\n## Limits\n      Any IP address has a default rate limit of 120 requests per minute.\n\n## Response Format\nAll responses in JSON format.",
    "version": "v1",
    "contact": {
      "name": "EatMyVenom",
      "url": "https://vnmm.dev",
      "email": "v.nmm@outlook.net"
    }
  },
  "servers": [
    {
      "url": "https://api.hyarcade.xyz"
    }
  ],
  "components": {
    "securitySchemes": {
      "Api Key": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "Not needed in most use cases, the rate limits are 120/minute per IP. If you want to use more than that contact eatmyvenom."
      },
      "Database Pass": {
        "type": "Override",
        "in": "header",
        "name": "authorization",
        "description": "A key to use internal systems and override rate limits, meant for any companion systems like Arcade Bot."
      }
    },
    "responses": {
      "RateLimited": {
        "description": "A request limit has been reached, usually this is due to the limit on the key being reached but can also be triggered by a global throttle.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "reason": {
                  "type": "string",
                  "example": "RATELIMIT"
                },
                "timeout": {
                  "type": "number",
                  "example": 30000
                }
              }
            }
          }
        }
      },
      "MissingPage": {
        "description": "The data requested does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "cause": {
                  "type": "string",
                  "example": "Data not found"
                }
              }
            }
          }
        }
      },
      "MissingInput": {
        "description": "The request was missing required input",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "cause": {
                  "type": "string",
                  "example": "Missing Field(s)"
                },
                "message": {
                  "type": "string"
                },
                "neededFields": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "path"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/account": {
      "get": {
        "summary": "Account",
        "parameters": [
          {
            "in": "query",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ign",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "discid",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "name_lower": {
                      "type": "string"
                    },
                    "nameHist": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "uuid": {
                      "type": "string"
                    },
                    "uuidPosix": {
                      "type": "string"
                    },
                    "internalId": {
                      "type": "string"
                    },
                    "rank": {
                      "type": "string"
                    },
                    "firstLogin": {
                      "type": "number"
                    },
                    "isLoggedIn": {
                      "type": "boolean"
                    },
                    "lastLogin": {
                      "type": "number"
                    },
                    "lastLogout": {
                      "type": "number"
                    },
                    "mostRecentGameType": {
                      "type": "string"
                    },
                    "questsCompleted": {
                      "type": "number"
                    },
                    "achievementPoints": {
                      "type": "number"
                    },
                    "xp": {
                      "type": "number"
                    },
                    "level": {
                      "type": "number"
                    },
                    "karma": {
                      "type": "number"
                    },
                    "ranksGifted": {
                      "type": "number"
                    },
                    "arcadeAchievments": {
                      "type": "object",
                      "properties": {
                        "totalEarned": {
                          "type": "number"
                        },
                        "totalAvailiable": {
                          "type": "number"
                        },
                        "overall": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "blockingDead": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "bountyHunters": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "captureTheWool": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "creeperAttack": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "dragonWars": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "enderSpleef": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "farmHunt": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "football": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "galaxyWars": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "hideAndSeek": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "holeInTheWall": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "hypixelSays": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "miniWalls": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "pixelPainters": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsEarned": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "throwOut": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "zombies": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "partyGames": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number"
                            },
                            "apAvailable": {
                              "type": "number"
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "currentTier": {
                                    "type": "number"
                                  },
                                  "topTier": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "toTop": {
                                    "type": "number"
                                  },
                                  "toNext": {
                                    "type": "number"
                                  },
                                  "ap": {
                                    "type": "number"
                                  },
                                  "availiableAP": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "points": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "arcadeChallenges": {
                      "type": "object",
                      "properties": {
                        "zombies": {
                          "type": "number"
                        },
                        "partyGames": {
                          "type": "number"
                        },
                        "galaxyWars": {
                          "type": "number"
                        },
                        "holeInTheWall": {
                          "type": "number"
                        },
                        "hypixelSays": {
                          "type": "number"
                        },
                        "creeperAttack": {
                          "type": "number"
                        },
                        "blockingDead": {
                          "type": "number"
                        },
                        "enderSpleef": {
                          "type": "number"
                        },
                        "football": {
                          "type": "number"
                        },
                        "miniWalls": {
                          "type": "number"
                        },
                        "hideAndSeek": {
                          "type": "number"
                        },
                        "farmhunt": {
                          "type": "number"
                        },
                        "throwOut": {
                          "type": "number"
                        },
                        "dragonWars": {
                          "type": "number"
                        },
                        "pixelPainters": {
                          "type": "number"
                        },
                        "bountyHunters": {
                          "type": "number"
                        },
                        "captureTheWool": {
                          "type": "number"
                        }
                      }
                    },
                    "blockingDead": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "hints": {
                          "type": "boolean"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "headshots": {
                          "type": "number"
                        },
                        "weapon": {
                          "type": "string"
                        }
                      }
                    },
                    "bountyHunters": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "bowKills": {
                          "type": "number"
                        },
                        "swordKills": {
                          "type": "number"
                        },
                        "bountyKills": {
                          "type": "number"
                        },
                        "deaths": {
                          "type": "number"
                        }
                      }
                    },
                    "captureTheWool": {
                      "type": "object",
                      "properties": {
                        "kills": {
                          "type": "number"
                        },
                        "woolCaptures": {
                          "type": "number"
                        }
                      }
                    },
                    "creeperAttack": {
                      "type": "object",
                      "properties": {
                        "maxWave": {
                          "type": "number"
                        }
                      }
                    },
                    "dragonWars": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        }
                      }
                    },
                    "enderSpleef": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "blocksBroken": {
                          "type": "number"
                        },
                        "totalPowerups": {
                          "type": "number"
                        },
                        "bigshotPowerups": {
                          "type": "number"
                        },
                        "tripleshotPowerups": {
                          "type": "number"
                        }
                      }
                    },
                    "farmhunt": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "poop": {
                          "type": "number"
                        },
                        "animalWins": {
                          "type": "number"
                        },
                        "hunterWins": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "animalKills": {
                          "type": "number"
                        },
                        "hunterKills": {
                          "type": "number"
                        },
                        "bowKills": {
                          "type": "number"
                        },
                        "animalBowKills": {
                          "type": "number"
                        },
                        "hunterBowKills": {
                          "type": "number"
                        },
                        "tauntsUsed": {
                          "type": "number"
                        },
                        "safeTauntsUsed": {
                          "type": "number"
                        },
                        "riskyTauntsUsed": {
                          "type": "number"
                        },
                        "dangerousTauntsUsed": {
                          "type": "number"
                        },
                        "fireworksUsed": {
                          "type": "number"
                        }
                      }
                    },
                    "football": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "goals": {
                          "type": "number"
                        },
                        "powerkicks": {
                          "type": "number"
                        },
                        "kicks": {
                          "type": "number"
                        }
                      }
                    },
                    "galaxyWars": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "deaths": {
                          "type": "number"
                        },
                        "rebelKills": {
                          "type": "number"
                        },
                        "empireKills": {
                          "type": "number"
                        },
                        "shotsFired": {
                          "type": "number"
                        }
                      }
                    },
                    "hideAndSeek": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "propHuntHiderWins": {
                          "type": "number"
                        },
                        "propHuntSeekerWins": {
                          "type": "number"
                        },
                        "propHuntWins": {
                          "type": "number"
                        },
                        "partyPooperHiderWins": {
                          "type": "number"
                        },
                        "partyPooperSeekerWins": {
                          "type": "number"
                        },
                        "partyPooperWins": {
                          "type": "number"
                        },
                        "seekerWins": {
                          "type": "number"
                        },
                        "hiderWins": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "objectives": {
                          "type": "number"
                        }
                      }
                    },
                    "holeInTheWall": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "rounds": {
                          "type": "number"
                        },
                        "qualifiers": {
                          "type": "number"
                        },
                        "finals": {
                          "type": "number"
                        },
                        "combinedScore": {
                          "type": "number"
                        },
                        "bestGame": {
                          "type": "number"
                        }
                      }
                    },
                    "hypixelSays": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "simonWins": {
                          "type": "number"
                        },
                        "santaWins": {
                          "type": "number"
                        },
                        "totalPoints": {
                          "type": "number"
                        },
                        "simonPoints": {
                          "type": "number"
                        },
                        "santaPoints": {
                          "type": "number"
                        },
                        "totalRoundWins": {
                          "type": "number"
                        },
                        "simonRoundWins": {
                          "type": "number"
                        },
                        "santaRoundWins": {
                          "type": "number"
                        },
                        "maxScoreSimon": {
                          "type": "number"
                        },
                        "maxScoreSanta": {
                          "type": "number"
                        },
                        "maxScore": {
                          "type": "number"
                        }
                      }
                    },
                    "partyGames": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "wins1": {
                          "type": "number"
                        },
                        "wins2": {
                          "type": "number"
                        },
                        "wins3": {
                          "type": "number"
                        },
                        "roundsWon": {
                          "type": "number"
                        },
                        "starsEarned": {
                          "type": "number"
                        },
                        "animalSlaughterWins": {
                          "type": "number"
                        },
                        "animalSlaughterKills": {
                          "type": "number"
                        },
                        "animalSlaughterPB": {
                          "type": "number"
                        },
                        "anvilSpleefWins": {
                          "type": "number"
                        },
                        "anvilSpleefPB": {
                          "type": "number"
                        },
                        "bombardmentWins": {
                          "type": "number"
                        },
                        "bombardmentPB": {
                          "type": "number"
                        },
                        "chickenRingsWins": {
                          "type": "number"
                        },
                        "chickenRingsPB": {
                          "type": "number"
                        },
                        "diveWins": {
                          "type": "number"
                        },
                        "diveScore": {
                          "type": "number"
                        },
                        "divePB": {
                          "type": "number"
                        },
                        "highGroundWins": {
                          "type": "number"
                        },
                        "highGroundScore": {
                          "type": "number"
                        },
                        "highGroundPB": {
                          "type": "number"
                        },
                        "hoeWins": {
                          "type": "number"
                        },
                        "hoeScore": {
                          "type": "number"
                        },
                        "hoePB": {
                          "type": "number"
                        },
                        "jigsawWins": {
                          "type": "number"
                        },
                        "jigsawPB": {
                          "type": "number"
                        },
                        "jungleJumpWins": {
                          "type": "number"
                        },
                        "jungleJumpPB": {
                          "type": "number"
                        },
                        "labEscapeWins": {
                          "type": "number"
                        },
                        "labEscapePB": {
                          "type": "number"
                        },
                        "lawnMoowerWins": {
                          "type": "number"
                        },
                        "lawnMoowerScore": {
                          "type": "number"
                        },
                        "lawnMoowerPB": {
                          "type": "number"
                        },
                        "minecartRacingWins": {
                          "type": "number"
                        },
                        "minecartRacingPB": {
                          "type": "number"
                        },
                        "rpgWins": {
                          "type": "number"
                        },
                        "rpgKills": {
                          "type": "number"
                        },
                        "rpgPB": {
                          "type": "number"
                        },
                        "spiderMazeWins": {
                          "type": "number"
                        },
                        "spiderMazePB": {
                          "type": "number"
                        },
                        "theFloorIsLavaWins": {
                          "type": "number"
                        },
                        "theFloorIsLavaPB": {
                          "type": "number"
                        },
                        "avalancheWins": {
                          "type": "number"
                        },
                        "volcanoWins": {
                          "type": "number"
                        },
                        "pigFishingWins": {
                          "type": "number"
                        },
                        "trampolinioWins": {
                          "type": "number"
                        },
                        "pigJoustingWins": {
                          "type": "number"
                        },
                        "workshopWins": {
                          "type": "number"
                        },
                        "shootingRangeWins": {
                          "type": "number"
                        },
                        "frozenFloorWins": {
                          "type": "number"
                        },
                        "cannonPaintingWins": {
                          "type": "number"
                        },
                        "fireLeapersWins": {
                          "type": "number"
                        },
                        "superSheepWins": {
                          "type": "number"
                        }
                      }
                    },
                    "pixelPainters": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        }
                      }
                    },
                    "throwOut": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "deaths": {
                          "type": "number"
                        }
                      }
                    },
                    "seasonalWins": {
                      "type": "object",
                      "properties": {
                        "easter": {
                          "type": "number"
                        },
                        "scuba": {
                          "type": "number"
                        },
                        "halloween": {
                          "type": "number"
                        },
                        "grinch": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "grinchGiftsFound": {
                          "type": "number"
                        },
                        "pointsScuba": {
                          "type": "number"
                        },
                        "foundScuba": {
                          "type": "number"
                        },
                        "foundEaster": {
                          "type": "number"
                        },
                        "foundHalloween": {
                          "type": "number"
                        },
                        "deliveredSanta": {
                          "type": "number"
                        },
                        "santaWins": {
                          "type": "number"
                        }
                      }
                    },
                    "miniWalls": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number"
                        },
                        "kit": {
                          "type": "string"
                        },
                        "arrowsHit": {
                          "type": "number"
                        },
                        "arrowsShot": {
                          "type": "number"
                        },
                        "finalKills": {
                          "type": "number"
                        },
                        "kills": {
                          "type": "number"
                        },
                        "witherKills": {
                          "type": "number"
                        },
                        "deaths": {
                          "type": "number"
                        },
                        "witherDamage": {
                          "type": "number"
                        }
                      }
                    },
                    "zombies": {
                      "type": "object",
                      "properties": {
                        "basic_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "best_round_zombies": {
                          "type": "number"
                        },
                        "best_round_zombies_deadend": {
                          "type": "number"
                        },
                        "best_round_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "bullets_hit_zombies": {
                          "type": "number"
                        },
                        "bullets_shot_zombies": {
                          "type": "number"
                        },
                        "deaths_zombies": {
                          "type": "number"
                        },
                        "deaths_zombies_deadend": {
                          "type": "number"
                        },
                        "deaths_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "doors_opened_zombies": {
                          "type": "number"
                        },
                        "doors_opened_zombies_deadend": {
                          "type": "number"
                        },
                        "doors_opened_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "empowered_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "fastest_time_10_zombies": {
                          "type": "number"
                        },
                        "fastest_time_10_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "fire_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "headshots_zombies": {
                          "type": "number"
                        },
                        "pig_zombie_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "players_revived_zombies": {
                          "type": "number"
                        },
                        "players_revived_zombies_deadend": {
                          "type": "number"
                        },
                        "players_revived_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies_deadend": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "tnt_baby_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies_deadend": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "windows_repaired_zombies": {
                          "type": "number"
                        },
                        "windows_repaired_zombies_deadend": {
                          "type": "number"
                        },
                        "windows_repaired_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "wolf_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "zombie_kills_zombies": {
                          "type": "number"
                        },
                        "zombie_kills_zombies_deadend": {
                          "type": "number"
                        },
                        "zombie_kills_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "blaze_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "magma_cube_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "magma_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "tnt_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "best_round_zombies_badblood": {
                          "type": "number"
                        },
                        "best_round_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "deaths_zombies_badblood": {
                          "type": "number"
                        },
                        "deaths_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "slime_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "slime_zombie_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies_badblood": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies_badblood": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "werewolf_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "windows_repaired_zombies_badblood": {
                          "type": "number"
                        },
                        "windows_repaired_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "witch_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "zombie_kills_zombies_badblood": {
                          "type": "number"
                        },
                        "zombie_kills_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "best_round_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "best_round_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "blob_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "chgluglu_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "clown_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "deaths_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "deaths_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "fastest_time_10_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "fastest_time_20_zombies": {
                          "type": "number"
                        },
                        "fastest_time_20_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "ghast_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "giant_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "iron_golem_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "mega_blob_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "mega_magma_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "players_revived_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "players_revived_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "rainbow_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "sentinel_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "skeleton_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "space_blaster_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "space_grunt_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "the_old_one_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "times_knocked_down_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "total_rounds_survived_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "windows_repaired_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "windows_repaired_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "worm_small_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "worm_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "zombie_kills_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "zombie_kills_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "zombies_hideTutorials": {
                          "type": "boolean"
                        },
                        "doors_opened_zombies_alienarcadium": {
                          "type": "number"
                        },
                        "doors_opened_zombies_alienarcadium_normal": {
                          "type": "number"
                        },
                        "fastest_time_10_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "players_revived_zombies_badblood": {
                          "type": "number"
                        },
                        "players_revived_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "wither_zombie_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "wither_skeleton_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "wolf_pet_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "cave_spider_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "charged_creeper_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "creeper_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "fastest_time_20_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "fastest_time_30_zombies": {
                          "type": "number"
                        },
                        "fastest_time_30_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "herobrine_minion_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "invisible_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "wins_zombies": {
                          "type": "number"
                        },
                        "wins_zombies_badblood": {
                          "type": "number"
                        },
                        "wins_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "wither_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "family_daughter_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "doors_opened_zombies_badblood": {
                          "type": "number"
                        },
                        "doors_opened_zombies_badblood_normal": {
                          "type": "number"
                        },
                        "family_father_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "family_twin_blue_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "herobrine_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "king_slime_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "family_twin_red_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "ender_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "endermite_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "fastest_time_20_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "fastest_time_30_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "guardian_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "silverfish_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "skelefish_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "wins_zombies_deadend": {
                          "type": "number"
                        },
                        "wins_zombies_deadend_normal": {
                          "type": "number"
                        },
                        "broodmother_zombie_kills_zombies": {
                          "type": "number"
                        },
                        "inferno_zombie_kills_zombies": {
                          "type": "number"
                        }
                      }
                    },
                    "extra": {
                      "type": "object",
                      "properties": {
                        "combinedAchievementProgress": {
                          "type": "number"
                        },
                        "classicTokens": {
                          "type": "number"
                        },
                        "challengeAchievementsCompleted": {
                          "type": "number"
                        },
                        "tournamentTributes": {
                          "type": "number"
                        },
                        "tournamentTokens": {
                          "type": "number"
                        },
                        "totalCoins": {
                          "type": "number"
                        },
                        "rewardStreak": {
                          "type": "number"
                        },
                        "migrated": {
                          "type": "boolean"
                        }
                      }
                    },
                    "coinTransfers": {
                      "type": "number"
                    },
                    "simTotal": {
                      "type": "number"
                    },
                    "arcadeCoins": {
                      "type": "number"
                    },
                    "arcadeWins": {
                      "type": "number"
                    },
                    "combinedArcadeWins": {
                      "type": "number"
                    },
                    "anyWins": {
                      "type": "number"
                    },
                    "coinsEarned": {
                      "type": "number"
                    },
                    "importance": {
                      "type": "number"
                    },
                    "quests": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "daily": {
                          "type": "number"
                        },
                        "weekly": {
                          "type": "number"
                        },
                        "arcadeGamer": {
                          "type": "number"
                        },
                        "arcadeWinner": {
                          "type": "number"
                        },
                        "arcadeSpecialist": {
                          "type": "number"
                        }
                      }
                    },
                    "plusColor": {
                      "type": "string"
                    },
                    "mvpColor": {
                      "type": "string"
                    },
                    "hypixelDiscord": {
                      "type": "string"
                    },
                    "discord": {
                      "type": "string"
                    },
                    "timePlaying": {
                      "type": "number"
                    },
                    "updateTime": {
                      "type": "number"
                    },
                    "arcadeAchievementPoints": {
                      "type": "number"
                    },
                    "apiHidden": {
                      "type": "boolean"
                    },
                    "weeklyCoins": {
                      "type": "number"
                    },
                    "monthlyCoins": {
                      "type": "number"
                    },
                    "unknownWins": {
                      "type": "number"
                    },
                    "actionTime": {
                      "type": "object",
                      "properties": {
                        "quest": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "pets": {
                          "type": "number"
                        },
                        "dailyReward": {
                          "type": "number"
                        },
                        "otherActions": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MissingInput"
          },
          "404": {
            "$ref": "#/components/responses/MissingPage"
          }
        }
      },
      "post": {
        "summary": "Upload Account",
        "responses": {
          "200": {
            "description": "Upload Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MissingInput"
          },
          "404": {
            "$ref": "#/components/responses/MissingPage"
          }
        }
      }
    },
    "/leaderboard": {
      "get": {
        "summary": "Leaderboard",
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string"
            },
            "required": true
[...]
