{
  "openapi": "3.0.3",
  "info": {
    "title": "Hyarcade API",
    "description": "# Introduction\n      This is backend api for all Hyarcade systems\n      [Hyarcade](https://hyarcade.xyz/) - [GitHub Repo](https://github.com/eatmyvenom/hyarcade)\n## Limits\n      Any IP address has a default rate limit of 120 requests per minute.\n\n### Response Format\nAll responses in JSON format.\n      # Authentication\n      <!-- ReDoc-Inject: <security-definitions> -->",
    "version": "v1",
    "contact": {
      "name": "EatMyVenom",
      "url": "https://vnmm.dev",
      "email": "v.nmm@outlook.net"
    }
  },
  "servers": [
    {
      "url": "https://api.hyarcade.xyz"
    }
  ],
  "components": {
    "securitySchemes": {
      "Api Key": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "Not needed in most use cases, the rate limits are 120/minute per IP. If you want to use more than that contact eatmyvenom."
      },
      "Database Pass": {
        "type": "Override",
        "in": "header",
        "name": "authorization",
        "description": "A key to use internal systems and override rate limits, meant for any companion systems like Arcade Bot."
      }
    },
    "responses": {
      "RateLimited": {
        "description": "A request limit has been reached, usually this is due to the limit on the key being reached but can also be triggered by a global throttle.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "reason": {
                  "type": "string",
                  "example": "RATELIMIT"
                },
                "timeout": {
                  "type": "number",
                  "example": 30000
                }
              }
            }
          }
        }
      },
      "MissingPage": {
        "description": "The data requested does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "cause": {
                  "type": "string",
                  "example": "Data not found"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/account": {
      "get": {
        "summary": "Account",
        "parameters": [
          {
            "in": "query",
            "name": "uuid",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ign",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "discid",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "example": "61f0ed9afee8927bacd06ad7"
                    },
                    "name": {
                      "type": "string",
                      "example": "vnmm"
                    },
                    "name_lower": {
                      "type": "string",
                      "example": "vnmm"
                    },
                    "nameHist": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "string",
                            "example": "H"
                          },
                          "1": {
                            "type": "string",
                            "example": "a"
                          },
                          "2": {
                            "type": "string",
                            "example": "g"
                          },
                          "3": {
                            "type": "string",
                            "example": "a"
                          },
                          "4": {
                            "type": "string",
                            "example": "n"
                          },
                          "5": {
                            "type": "string",
                            "example": "B"
                          },
                          "6": {
                            "type": "string",
                            "example": "o"
                          },
                          "7": {
                            "type": "string",
                            "example": "y"
                          },
                          "8": {
                            "type": "string",
                            "example": "s"
                          }
                        }
                      }
                    },
                    "uuid": {
                      "type": "string",
                      "example": "92a5199614ac4bd181d1f3c951fb719f"
                    },
                    "uuidPosix": {
                      "type": "string",
                      "example": "92a51996-14ac-4bd1-81d1-f3c951fb719f"
                    },
                    "internalId": {
                      "type": "string",
                      "example": "53a7972cfa32dc526932883c"
                    },
                    "rank": {
                      "type": "string",
                      "example": "MVP_PLUS_PLUS"
                    },
                    "firstLogin": {
                      "type": "number",
                      "example": 1403492140000
                    },
                    "isLoggedIn": {
                      "type": "boolean",
                      "example": false
                    },
                    "lastLogin": {
                      "type": "number",
                      "example": 1645747227778
                    },
                    "lastLogout": {
                      "type": "number",
                      "example": 1645747244497
                    },
                    "mostRecentGameType": {
                      "type": "string",
                      "example": "BEDWARS"
                    },
                    "questsCompleted": {
                      "type": "number",
                      "example": 1226
                    },
                    "achievementPoints": {
                      "type": "number",
                      "example": 7655
                    },
                    "xp": {
                      "type": "number",
                      "example": 180365065
                    },
                    "level": {
                      "type": "number",
                      "example": 377.37406070959884
                    },
                    "karma": {
                      "type": "number",
                      "example": 20862490
                    },
                    "ranksGifted": {
                      "type": "number",
                      "example": 60
                    },
                    "arcadeAchievments": {
                      "type": "object",
                      "properties": {
                        "totalEarned": {
                          "type": "number",
                          "example": 1370
                        },
                        "totalAvailiable": {
                          "type": "number",
                          "example": 2565
                        },
                        "overall": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 155
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 155
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "General: Arcade Banker"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 4791327
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": -4491327
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": -4491327
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 75
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "General: World Economics"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "blockingDead": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 80
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 100
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Blocking Dead: Zombie Killer"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 3725
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": -1725
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": -1725
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 75
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Blocking Dead: No Mercy"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Blocking Dead: Lone Survivor"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            }
                          }
                        },
                        "bountyHunters": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 5
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 105
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Bounty Hunters: Kills"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 76
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 3424
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 24
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Bounty Hunter: Fight Like a Man"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Bounty Hunters: No mutiny today"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            }
                          }
                        },
                        "captureTheWool": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 200
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 260
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Capture the Wool: Oh sheep"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 26
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 174
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 24
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 15
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Capture the Wool: Hey there"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "0": {
                                    "type": "string",
                                    "example": "C"
                                  },
                                  "1": {
                                    "type": "string",
                                    "example": "a"
                                  },
                                  "2": {
                                    "type": "string",
                                    "example": "p"
                                  },
                                  "3": {
                                    "type": "string",
                                    "example": "t"
                                  },
                                  "4": {
                                    "type": "string",
                                    "example": "u"
                                  },
                                  "5": {
                                    "type": "string",
                                    "example": "r"
                                  },
                                  "6": {
                                    "type": "string",
                                    "example": "e"
                                  },
                                  "7": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "8": {
                                    "type": "string",
                                    "example": "t"
                                  },
                                  "9": {
                                    "type": "string",
                                    "example": "h"
                                  },
                                  "10": {
                                    "type": "string",
                                    "example": "e"
                                  },
                                  "11": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "12": {
                                    "type": "string",
                                    "example": "W"
                                  },
                                  "13": {
                                    "type": "string",
                                    "example": "o"
                                  },
                                  "14": {
                                    "type": "string",
                                    "example": "o"
                                  },
                                  "15": {
                                    "type": "string",
                                    "example": "l"
                                  },
                                  "16": {
                                    "type": "string",
                                    "example": ":"
                                  },
                                  "17": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "18": {
                                    "type": "string",
                                    "example": "O"
                                  },
                                  "19": {
                                    "type": "string",
                                    "example": "h"
                                  },
                                  "20": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "21": {
                                    "type": "string",
                                    "example": "s"
                                  },
                                  "22": {
                                    "type": "string",
                                    "example": "h"
                                  },
                                  "23": {
                                    "type": "string",
                                    "example": "e"
                                  },
                                  "24": {
                                    "type": "string",
                                    "example": "e"
                                  },
                                  "25": {
                                    "type": "string",
                                    "example": "p"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "creeperAttack": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 45
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 110
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Creeper Attack: Team Work"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 3
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 48
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 7
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 30
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Creeper Attack: Hssssss"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Creeper Attack: Creeeep"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            }
                          }
                        },
                        "dragonWars": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 45
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 210
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Dragon Wars: Slayer"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 238
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 1762
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 262
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 15
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Dragon Wars: Blast"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Dragon Wars: Dragon Tamer"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 15
                                  }
                                }
                              }
                            }
                          }
                        },
                        "enderSpleef": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 10
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 175
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Ender Spleef: Unmatched Power"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 200
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Ender Spleef: No Powerhouse"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Ender Spleef: Overpowered"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            }
                          }
                        },
                        "farmHunt": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 90
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 125
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Farm Hunt: Farm Domination"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 4
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 226
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 24
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 24
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 50
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Farm Hunt: Can't hide from me!"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Farm Hunt: Giddy up horsey!"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            }
                          }
                        },
                        "football": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 40
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 100
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Football: Football Pro"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 86
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 414
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 14
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 15
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Football: Pro"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "0": {
                                    "type": "string",
                                    "example": "F"
                                  },
                                  "1": {
                                    "type": "string",
                                    "example": "o"
                                  },
                                  "2": {
                                    "type": "string",
                                    "example": "o"
                                  },
                                  "3": {
                                    "type": "string",
                                    "example": "t"
                                  },
                                  "4": {
                                    "type": "string",
                                    "example": "b"
                                  },
                                  "5": {
                                    "type": "string",
                                    "example": "a"
                                  },
                                  "6": {
                                    "type": "string",
                                    "example": "l"
                                  },
                                  "7": {
                                    "type": "string",
                                    "example": "l"
                                  },
                                  "8": {
                                    "type": "string",
                                    "example": ":"
                                  },
                                  "9": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "10": {
                                    "type": "string",
                                    "example": "F"
                                  },
                                  "11": {
                                    "type": "string",
                                    "example": "o"
                                  },
                                  "12": {
                                    "type": "string",
                                    "example": "o"
                                  },
                                  "13": {
                                    "type": "string",
                                    "example": "t"
                                  },
                                  "14": {
                                    "type": "string",
                                    "example": "b"
                                  },
                                  "15": {
                                    "type": "string",
                                    "example": "a"
                                  },
                                  "16": {
                                    "type": "string",
                                    "example": "l"
                                  },
                                  "17": {
                                    "type": "string",
                                    "example": "l"
                                  },
                                  "18": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "19": {
                                    "type": "string",
                                    "example": "P"
                                  },
                                  "20": {
                                    "type": "string",
                                    "example": "r"
                                  },
                                  "21": {
                                    "type": "string",
                                    "example": "o"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "galaxyWars": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 0
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 130
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Galaxy Wars: Galactic Warrior"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 4
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 2496
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 46
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Galaxy Wars: Now I am the Master"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 15
                                  }
                                }
                              }
                            }
                          }
                        },
                        "hideAndSeek": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 45
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 195
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Hide and Seek: Master Seeker"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 3
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 86
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 164
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 14
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 30
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Hide and Seek: Close Call"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Hide and Seek: Prop Hunter"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            }
                          }
                        },
                        "holeInTheWall": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 15
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 90
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Hole in the Wall: Practice Makes Perfect"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 350
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 50
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Hole in The Wall: Score"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "hypixelSays": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 55
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 55
                            },
                            "tieredAP": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Hypixel Says: Bad Health Choices"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "miniWalls": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 100
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 100
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Mini Walls: Winner"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 770
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": -520
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": -520
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 75
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Mini Walls: Last Man Standing"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "object",
                              "properties": {}
                            }
                          }
                        },
                        "pixelPainters": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 0
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 10
                            },
                            "tieredAP": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsEarned": {
                              "type": "object",
                              "properties": {}
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Pixel Painters: Number 1"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            }
                          }
                        },
                        "throwOut": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 20
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 90
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Throw Out: Professional Yeeter"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 2
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 454
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 2046
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 46
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 15
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Throw Out: Superman"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Throw Out: Regular Guy"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            }
                          }
                        },
                        "zombies": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 285
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 330
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Zombies: Nice Shot"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 13368
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": -5868
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": -5868
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 75
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Zombies: Feels Good"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 5
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Zombies: Serial Killer"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 15
                                  }
                                }
                              }
                            }
                          }
                        },
                        "partyGames": {
                          "type": "object",
                          "properties": {
                            "apEarned": {
                              "type": "number",
                              "example": 180
                            },
                            "apAvailable": {
                              "type": "number",
                              "example": 225
                            },
                            "tieredAP": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Party Games: Super Star"
                                  },
                                  "currentTier": {
                                    "type": "number",
                                    "example": 3
                                  },
                                  "topTier": {
                                    "type": "number",
                                    "example": 5
                                  },
                                  "amount": {
                                    "type": "number",
                                    "example": 1116
                                  },
                                  "toTop": {
                                    "type": "number",
                                    "example": 3884
                                  },
                                  "toNext": {
                                    "type": "number",
                                    "example": 1384
                                  },
                                  "ap": {
                                    "type": "number",
                                    "example": 30
                                  },
                                  "availiableAP": {
                                    "type": "number",
                                    "example": 75
                                  }
                                }
                              }
                            },
                            "achievementsEarned": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "example": "Party Games: Explosive Archer"
                                  },
                                  "points": {
                                    "type": "number",
                                    "example": 10
                                  }
                                }
                              }
                            },
                            "achievementsMissing": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "0": {
                                    "type": "string",
                                    "example": "P"
                                  },
                                  "1": {
                                    "type": "string",
                                    "example": "a"
                                  },
                                  "2": {
                                    "type": "string",
                                    "example": "r"
                                  },
                                  "3": {
                                    "type": "string",
                                    "example": "t"
                                  },
                                  "4": {
                                    "type": "string",
                                    "example": "y"
                                  },
                                  "5": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "6": {
                                    "type": "string",
                                    "example": "G"
                                  },
                                  "7": {
                                    "type": "string",
                                    "example": "a"
                                  },
                                  "8": {
                                    "type": "string",
                                    "example": "m"
                                  },
                                  "9": {
                                    "type": "string",
                                    "example": "e"
                                  },
                                  "10": {
                                    "type": "string",
                                    "example": "s"
                                  },
                                  "11": {
                                    "type": "string",
                                    "example": ":"
                                  },
                                  "12": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "13": {
                                    "type": "string",
                                    "example": "S"
                                  },
                                  "14": {
                                    "type": "string",
                                    "example": "u"
                                  },
                                  "15": {
                                    "type": "string",
                                    "example": "p"
                                  },
                                  "16": {
                                    "type": "string",
                                    "example": "e"
                                  },
                                  "17": {
                                    "type": "string",
                                    "example": "r"
                                  },
                                  "18": {
                                    "type": "string",
                                    "example": " "
                                  },
                                  "19": {
                                    "type": "string",
                                    "example": "S"
                                  },
                                  "20": {
                                    "type": "string",
                                    "example": "t"
                                  },
                                  "21": {
                                    "type": "string",
                                    "example": "a"
                                  },
                                  "22": {
                                    "type": "string",
                                    "example": "r"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "arcadeChallenges": {
                      "type": "object",
                      "properties": {
                        "zombies": {
                          "type": "number",
                          "example": 29
                        },
                        "partyGames": {
                          "type": "number",
                          "example": 520
                        },
                        "galaxyWars": {
                          "type": "number",
                          "example": 0
                        },
                        "holeInTheWall": {
                          "type": "number",
                          "example": 36
                        },
                        "hypixelSays": {
                          "type": "number",
                          "example": 7
                        },
                        "creeperAttack": {
                          "type": "number",
                          "example": 0
                        },
                        "blockingDead": {
                          "type": "number",
                          "example": 9
                        },
                        "enderSpleef": {
                          "type": "number",
                          "example": 0
                        },
                        "football": {
                          "type": "number",
                          "example": 16
                        },
                        "miniWalls": {
                          "type": "number",
                          "example": 18
                        },
                        "hideAndSeek": {
                          "type": "number",
                          "example": 2
                        },
                        "farmhunt": {
                          "type": "number",
                          "example": 48
                        },
                        "throwOut": {
                          "type": "number",
                          "example": 7
                        },
                        "dragonWars": {
                          "type": "number",
                          "example": 3
                        },
                        "pixelPainters": {
                          "type": "number",
                          "example": 0
                        },
                        "bountyHunters": {
                          "type": "number",
                          "example": 0
                        },
                        "captureTheWool": {
                          "type": "number",
                          "example": 42
                        }
                      }
                    },
                    "blockingDead": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 32
                        },
                        "hints": {
                          "type": "boolean",
                          "example": false
                        },
                        "kills": {
                          "type": "number",
                          "example": 3725
                        },
                        "headshots": {
                          "type": "number",
                          "example": 2533
                        },
                        "weapon": {
                          "type": "string",
                          "example": "FIRE_AXE"
                        }
                      }
                    },
                    "bountyHunters": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 0
                        },
                        "kills": {
                          "type": "number",
                          "example": 49
                        },
                        "bowKills": {
                          "type": "number",
                          "example": 0
                        },
                        "swordKills": {
                          "type": "number",
                          "example": 0
                        },
                        "bountyKills": {
                          "type": "number",
                          "example": 10
                        },
                        "deaths": {
                          "type": "number",
                          "example": 54
                        }
                      }
                    },
                    "captureTheWool": {
                      "type": "object",
                      "properties": {
                        "kills": {
                          "type": "number",
                          "example": 3141
                        },
                        "woolCaptures": {
                          "type": "number",
                          "example": 26
                        }
                      }
                    },
                    "creeperAttack": {
                      "type": "object",
                      "properties": {
                        "maxWave": {
                          "type": "number",
                          "example": 24
                        }
                      }
                    },
                    "dragonWars": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 10
                        },
                        "kills": {
                          "type": "number",
                          "example": 238
                        }
                      }
                    },
                    "enderSpleef": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 1
                        },
                        "blocksBroken": {
                          "type": "number",
                          "example": 661
                        },
                        "totalPowerups": {
                          "type": "number",
                          "example": 0
                        },
                        "bigshotPowerups": {
                          "type": "number",
                          "example": 0
                        },
                        "tripleshotPowerups": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    },
                    "farmhunt": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 227
                        },
                        "poop": {
                          "type": "number",
                          "example": 823
                        },
                        "animalWins": {
                          "type": "number",
                          "example": 4
                        },
                        "hunterWins": {
                          "type": "number",
                          "example": 6
                        },
                        "kills": {
                          "type": "number",
                          "example": 72
                        },
                        "animalKills": {
                          "type": "number",
                          "example": 3
                        },
                        "hunterKills": {
                          "type": "number",
                          "example": 69
                        },
                        "bowKills": {
                          "type": "number",
                          "example": 40
                        },
                        "animalBowKills": {
                          "type": "number",
                          "example": 2
                        },
                        "hunterBowKills": {
                          "type": "number",
                          "example": 18
                        },
                        "tauntsUsed": {
                          "type": "number",
                          "example": 155
                        },
                        "safeTauntsUsed": {
                          "type": "number",
                          "example": 85
                        },
                        "riskyTauntsUsed": {
                          "type": "number",
                          "example": 26
                        },
                        "dangerousTauntsUsed": {
                          "type": "number",
                          "example": 19
                        },
                        "fireworksUsed": {
                          "type": "number",
                          "example": 25
                        }
                      }
                    },
                    "football": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 67
                        },
                        "goals": {
                          "type": "number",
                          "example": 86
                        },
                        "powerkicks": {
                          "type": "number",
                          "example": 485
                        },
                        "kicks": {
                          "type": "number",
                          "example": 416
                        }
                      }
                    },
                    "galaxyWars": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 1
                        },
                        "kills": {
                          "type": "number",
                          "example": 4
                        },
                        "deaths": {
                          "type": "number",
                          "example": 10
                        },
                        "rebelKills": {
                          "type": "number",
                          "example": 4
                        },
                        "empireKills": {
                          "type": "number",
                          "example": 0
                        },
                        "shotsFired": {
                          "type": "number",
                          "example": 299
                        }
                      }
                    },
                    "hideAndSeek": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 63
                        },
                        "propHuntHiderWins": {
                          "type": "number",
                          "example": 0
                        },
                        "propHuntSeekerWins": {
                          "type": "number",
                          "example": 0
                        },
                        "propHuntWins": {
                          "type": "number",
                          "example": 0
                        },
                        "partyPooperHiderWins": {
                          "type": "number",
                          "example": 16
                        },
                        "partyPooperSeekerWins": {
                          "type": "number",
                          "example": 47
                        },
                        "partyPooperWins": {
                          "type": "number",
                          "example": 63
                        },
                        "seekerWins": {
                          "type": "number",
                          "example": 47
                        },
                        "hiderWins": {
                          "type": "number",
                          "example": 16
                        },
                        "kills": {
                          "type": "number",
                          "example": 86
                        },
                        "objectives": {
                          "type": "number",
                          "example": 13
                        }
                      }
                    },
                    "holeInTheWall": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 8
                        },
                        "rounds": {
                          "type": "number",
                          "example": 6515
                        },
                        "qualifiers": {
                          "type": "number",
                          "example": 177
                        },
                        "finals": {
                          "type": "number",
                          "example": 134
                        },
                        "combinedScore": {
                          "type": "number",
                          "example": 311
                        },
                        "bestGame": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    },
                    "hypixelSays": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 39
                        },
                        "simonWins": {
                          "type": "number",
                          "example": 39
                        },
                        "santaWins": {
                          "type": "number",
                          "example": 0
                        },
                        "totalPoints": {
                          "type": "number",
                          "example": 2961
                        },
                        "simonPoints": {
                          "type": "number",
                          "example": 2961
                        },
                        "santaPoints": {
                          "type": "number",
                          "example": 0
                        },
                        "totalRoundWins": {
                          "type": "number",
                          "example": 193
                        },
                        "simonRoundWins": {
                          "type": "number",
                          "example": 193
                        },
                        "santaRoundWins": {
                          "type": "number",
                          "example": 0
                        },
                        "maxScoreSimon": {
                          "type": "number",
                          "example": 9
                        },
                        "maxScoreSanta": {
                          "type": "number",
                          "example": 0
                        },
                        "maxScore": {
                          "type": "number",
                          "example": 9
                        }
                      }
                    },
                    "partyGames": {
                      "type": "object",
                      "properties": {
                        "wins": {
                          "type": "number",
                          "example": 724
                        },
                        "wins1": {
                          "type": "number",
                          "example": 724
                        },
                        "wins2": {
                          "type": "number",
                          "example": 0
                        },
                        "wins3": {
                          "type": "number",
                          "example": 0
                        },
                        "roundsWon": {
                          "type": "number",
                          "example": 243
                        },
                        "starsEarned": {
                          "type": "number",
                          "example": 1116
                        },
                        "animalSlaughterWins": {
                          "type": "number",
                          "example": 11
                        },
                        "animalSlaughterKills": {
                          "type": "number",
                          "example": 642
                        },
                        "animalSlaughterPB": {
                          "type": "number",
                          "example": 113
                        },
                        "anvilSpleefWins": {
                          "type": "number",
                          "example": 7
                        },
                        "anvilSpleefPB": {
                          "type": "number",
                          "example": 116656
                        },
[...]
