* {
    font-family: "Fira Code", monospace;
}
html,
body {
    margin: 0;
    background: #181c30;
    color: white;
}

.material-icons {
    text-align: center;
    vertical-align: middle;
}

.black { color : #000000 }
.dark_blue { color :#0000aa }
.dark_green { color :#00AA00 }
.dark_aqua { color :#00aaaa }
.dark_red { color :#aa0000 }
.dark_purple { color :aa00aa }
.gold { color :#ffaa00 }
.gray { color :#aaaaaa }
.dark_gray { color :#555555 }
.blue { color :#5555ff }
.green { color :#55ff55 }
.aqua { color :#55ffff }
.red { color :#ff5555 }
.light_purple { color :#ff55ff }
.yellow { color :#ffff55 }
.white { color :#ffffff }

div {
    white-space: pre;
    display: inline-block;
    margin: 1%;
}
main {
    display: grid;
    grid-template-columns: 26vw auto auto 26vw;
}

.lifetime {
    grid-column-start: 0;
}

.day {
    grid-column-start: 4;
}

body > a {
    margin-left: 0.4%;
    padding: 0.4%;
    color: white;
}

body > a:hover,
div:hover {
    box-shadow: -2px -2px 5px 1px #8c54fe, 2px 2px 5px 1px #0066cc;
}

body > a,
div {
    transition: all 0.25s ease-in-out;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #bb00dd, #44a3e7);
    border-image-slice: 1;
}

div {
    padding: 5px;
}

address a {
    text-decoration: none;
    color: #44a3e7;
}

address {
    text-decoration: none;
    font-style: normal;
    margin: 0.4%;
    display: inline-block;
}

h1 {
    display: inline-block;
    margin: 0.4%;
}

aside {
    margin: 0.4%;
    right: 0.4%;
    position: absolute;
    display: inline-block;
}

div li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

ol li::marker {
    font-weight: 600;
}

div ol li a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    width : 70%;
    display : inline-block;
}

div ol li i {
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    width : 20%;
    display : inline-block;
    text-align: right;
}

div ol li {
    line-height: 2;
    vertical-align: middle;
}

input {
    border-color: #44a3e7;
    border-style: solid;
    background-color: #181c30;
    color: white;
}

@media only screen and (max-width: 600px) {
    main {
        display: block;
    }

    div {
        display: block;
        width: 91%;
        font-size: 14px;
    }

    aside {
        display: block;
        float: none;
        position: relative;
    }
}

footer {
    margin-top: 1%;
    border-top: 1px solid #ff3399;
    display: block;
}

footer > a {
    display: block;
    color: #44a3e7 !important;
    border: none !important;
}

footer > a:hover {
    border: none;
}

footer {
    margin-top: 1%;
    border-top: 1px solid #ff3399;
    display: block;
}

footer > a {
    display: block;
    color: #44a3e7 !important;
    text-decoration: none;
}

footer > a,
footer > div,
footer > a:hover,
footer > div:hover {
    border: none !important;
    box-shadow: none;
}

footer > * {
    margin: 1.5%;
}
