* {
  font-family: "Fira Code", monospace;
}

@font-face {
  font-family: minecraf;
  src: url(https://hyarcade.xyz/assets/mc.otf);
}

.minecraft, .minecraft * {
  font-family: minecraf;
  text-shadow: 0.1em 0.1em black;
}

b {
  font-weight: normal;
}

html,
body {
  margin: 0;
  background: #181c30;
  color: white;
}

.material-icons {
  text-align: center;
  vertical-align: middle;
}

.black {
  color: #000000;
  text-shadow: 0.1em 0.1em #000000;
}

.dark_blue {
  color: #0000aa;
  text-shadow: 0.1em 0.1em #00002A;
}

.dark_green {
  color: #00AA00;
  text-shadow: 0.1em 0.1em #002A00;
}

.dark_aqua {
  color: #00aaaa;
  text-shadow: 0.1em 0.1em #002A2A;
}

.dark_red {
  color: #aa0000;
  text-shadow: 0.1em 0.1em #2A0000;
}

.dark_purple {
  color: #aa00aa;
  text-shadow: 0.1em 0.1em #2A002A;
}

.gold {
  color: #ffaa00;
  text-shadow: 0.1em 0.1em #3F2A00;
}

.gray {
  color: #aaaaaa;
  text-shadow: 0.1em 0.1em #2A2A2A;
}

.dark_gray {
  color: #555555;
  text-shadow: 0.1em 0.1em #151515;
}

.blue {
  color: #5555ff;
  text-shadow: 0.1em 0.1em #15153F;
}

.green {
  color: #55ff55;
  text-shadow: 0.1em 0.1em #153F15;
}

.aqua {
  color: #55ffff;
  text-shadow: 0.1em 0.1em #153F3F;
}

.red {
  color: #ff5555;
  text-shadow: 0.1em 0.1em #3F1515;
}

.light_purple {
  color: #ff55ff;
  text-shadow: 0.1em 0.1em #3F153F;
}

.yellow {
  color: #ffff55;
  text-shadow: 0.1em 0.1em #3F3F15;
}

.white {
  color: #ffffff;
  text-shadow: 0.1em 0.1em #3F3F3F;
}

div {
  white-space: pre;
  display: inline-block;
  margin: 1%;
}

main {
  padding: 8px;
  display: flex;
  justify-content:space-around;
}

nav {
  display: flex;
  justify-content:center;
}

nav button {
  padding: 12px;
  background: inherit;
  border: 1px solid #8c54fe;
  transition: all 0.25s ease-in-out;
  margin: 1%;
  color: white;
}

nav button[selected] {
  border: 1px solid #bb00dd;
}

nav button:hover {
  border: 1px solid #bb00dd;
}

main div {
  width: 24vw;
  font-size: 15px;
}

.lifetime {
  grid-column-start: 0;
}

.day {
  grid-column-start: 4;
}

header > p {
  display: inline-block;
  padding: 4px;
}

header > p > a {
  margin: 4px;
  color: white;
  text-decoration: none;
  padding: 6px;
  width: 6em;
  text-align: center;
  display: inline-block;
  border: 1px solid #0066cc;
  transition-duration: 0.3s;
}

header > p > a:hover {
  border: 1px solid #44a3e7;
}

div:hover {
  box-shadow: -2px -2px 5px 1px #8c54fe, 2px 2px 5px 1px #0066cc;
}

div {
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #bb00dd, #44a3e7);
  border-image-slice: 1;
}

header > * {
  width: 33%;
}

header > h1 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1, header aside {
  display: inline-block;
}

div {
  padding: 8px;
  position: relative;
  width: fit-content;
}

div[vis=false] {
  border: none;
  height: 75px;
  position: relative;
}

div[vis=false] ol li {
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
    opacity: 0;
}

div h2 {
    text-align: center;
}

address a {
  text-decoration: none;
  color: #44a3e7;
}

address {
  text-decoration: none;
  font-style: normal;
  margin: 0.4%;
  display: inline-block;
}

h1 {
  display: inline-block;
  margin: 0.4%;
}

#info {
  text-align: end;
}

aside {
  margin: 0.4%;
  text-align: center;
}

div li img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

ol li::marker {
  font-weight: 600;
}

div ol li a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  width: 70%;
  display: inline-block;
}

div ol li i {
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  width: 20%;
  display: inline-block;
  text-align: right;
}

div ol li {
  transition-delay: 0.3s;
  line-height: 2;
  padding: 2px 0 2px 0;
  vertical-align: middle;
}

input {
  border: 1px solid #44a3e7;
  background-color: #181c30;
  color: white;
}

@media only screen and (max-width: 900px) {
  main {
    display: block;
  }

  h1 {
    font-size: 18px;
  }

  div, main div {
    display: block;
    width: 91%;
    font-size: 12px;
  }

  aside {
    display: block;
    float: none;
    position: relative;
  }

  p#info {
    font-size: 12px;
  }
}

footer {
  margin-top: 1%;
  border-top: 1px solid #ff3399;
  display: block;
}

footer>a {
  display: block;
  color: #44a3e7 !important;
  border: none !important;
}

footer>a:hover {
  border: none;
}

footer {
  margin-top: 1%;
  border-top: 1px solid #ff3399;
  display: block;
}

footer>a {
  display: block;
  color: #44a3e7 !important;
  text-decoration: none;
}

footer>a,
footer>div,
footer>a:hover,
footer>div:hover {
  border: none !important;
  box-shadow: none;
}

footer>* {
  margin: 1.5%;
}

.lds-default {
  display: inline-block;
  position: relative;
  border: none;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}
