<html lang="en">
  <head>
    {{{head}}}
    <link href="guildstats.css" rel="stylesheet" />
    <script src="guildstats.js"></script>
    <title>Guild stats</title>
  </head>
  <body>
    <main>
      <header>
        <p></p>
        <div class="tag dark_green"></div>
      </header>

      <div class="games">
        <h2 class="white">Wins</h2>
      </div>

      <div class="stats">
        <h2 class="white">Stats</h2>
      </div>

      <div class="members">
        <h2 class="white">Members</h2>
      </div>
    </main>
    <br />
    <footer>
      {{{footer}}}
    </footer>
  </body>
</html>