<html lang="en">
  <head>
    {{{head}}}
    <link rel="stylesheet" href="https://vnmm.dev/style.css" />
    <link rel="stylesheet" href="player.css" />
    <title>Player data</title>
    <script src="player.js"></script>
  </head>
  <body>
    <nav>
      <button id="home" onclick="history.back()">
        <span class="material-icons md-light">arrow_back_ios_new</span>
      </button>

      <article>
        <input id="ign" type="text" autocomplete="off" />

        <span>

        </span>
      </article>
      <button id="query" onclick="refresh()">
        <span class="material-icons md-light">search</span>
      </button>
    </nav>
    <main>
      <div id="stats">
        <h3>Arcade Stats for <span id="name" class="minecraft"></span></h3>
        <p id="arcwins">Overall Arcade</p>
        <p id="bd">Blocking Dead</p>
        <p id="bh">Bounty Hunters</p>
        <p id="ctw">Capture the Wool</p>
        <p id="dw">Dragon Wars</p>
        <p id="es">Ender Spleef</p>
        <p id="fh-wins">Farm Hunt</p>
        <p id="fb">Football</p>
        <p id="gw">Galaxy Wars</p>
        <p id="hns">Hide and Seek</p>
        <p id="hitw">Hole in the Wall</p>
        <p id="hysay">Hypixel Says</p>
        <p id="mw">Mini Walls</p>
        <p id="pg-wins">Party Games</p>
        <p id="pp">Pixel Painters</p>
        <p id="to">Throw Out</p>
        <p id="z">Zombies</p>
      </div>

      <div id="info">
        <h3 id="acctitle">General Info</h3>
        <p id="xp">Level - </p>
        <p id="karma">Karma -</p>
        <p id="aap"></p>
        <p id="namehist"></p>
      </div>

      <div id="guild" style="display: none;">
        <h3>Guild</h3>
        <p id="gname"></p>
        <p id="gtag"></p>
        <p id="gmembercount"></p>
      </div>

      <div id="status">
        <h3>Current Status</h3>
        <p id="stsonline"></p>
        <p id="stsgame"></p>
        <p id="stsmode"></p>
        <p id="stsmap"></p>
      </div>

    </main>
    <footer>
      {{{footer}}}
    </footer>
  </body>
</html>