h3 {
    display: inline-block;
}
div {
    white-space: pre;
    display: inline-block;
    width: auto !important;
    padding: 10px;
    transition: all 0.25s ease-in-out;
}
div:hover {
    box-shadow: -2px -2px 5px 1px purple, 2px 2px 5px 1px rgb(55, 55, 235);
}

div {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, purple, rgb(55, 55, 235));
    border-image-slice: 1;
}

nav {
    height: 40px;
}

nav button[off] {
    background: #0066cc;
}

.lenipt {
    height: 40px;
}

input {
    background: #181c30;
    border: 2px solid #44a3e7;
    color: white;
    height: inherit;
    outline: none !important;
}

a {
    text-decoration: none;
    color: white !important;
}

.ipttxt {
    display: none;
}

footer {
    margin-top: 1%;
    border-top: 1px solid #ff3399;
    display: block;
}

footer > a {
    border: none;
}
